.blog__items {
  margin-top: -180px;
}
.blog__item__text > p {
  text-transform: uppercase;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #3c3754;
  color: #fdf5f1;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
}
.blog__item__user {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.blog__item__user > img {
  width: 50px;
}
.blog__item__user > p {
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
}
.blog__item__orange {
  z-index: 50;
}
.blog__item__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.blog__item__container > h1 {
  margin-left: auto;
  margin-right: auto;
  color: #0a071b;
  font-size: 55px;
  line-height: 56px;
  font-weight: 900;
}
.blog__item__container > p:nth-of-type(1) {
  margin-top: 50px;
}
.blog__item__container > p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 32px;
  color: #3c3754;
}
.blog__item__container > img {
  width: 130%;

  margin-left: -100px;
  margin-bottom: 50px;
}
.blog__item__user__container {
  padding: 68px 3% 80px;
  position: relative;
  margin-top: 50px;
}
.blog__item__user__white {
  max-width: 830px;
  margin-right: auto;
  margin-left: auto;
  padding: 48px;
  background-color: #fff;
  box-shadow: 52px 52px 96px -32px rgba(85, 85, 124, 0.08);
}
.blog__item__user__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__item__user__image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.blog__item__user__image > img {
  width: 70px;
}

.blog__item__user__image__text > h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #0a071b;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
}
.blog__item__user__image__text > p {
  color: #0a071b;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
.blog__item__icons {
  display: flex;
  gap: 30px;
}
.blog__item__user__text > p {
  font-size: 16px;
  color: #5b5675;
  line-height: 32px;
  margin-top: 40px;
}
.blog__item__user__grey {
  position: absolute;
  left: 0%;
  top: 0;
  right: 0%;
  bottom: auto;
  z-index: -1;
  max-width: 1060px;
  height: 284px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f8f7fc;
}

@media screen and (max-width: 768px) {
  .blog__banner {
    margin-top: -500px;
  }
  .blog__item__container > img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 415px) {
  .orange__lines {
    width: 100px;
  }
  .blog__item__text > img {
    top: 40px;
  }
  .blog__item__container {
    max-width: 320px;
  }
  .blog__item__user__info {
    flex-direction: column;
    gap: 30px;
  }
}
